*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #143F6B;
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.piano{
    display: flex;
}

.key-white{
    width: 100px;
    height: 400px;
    background-color: #fff;
    border: 1px solid #333;
}

.key-white.active{
    background-color: #CCC;
}

.key-black{
    width: 70px;
    height: 280px;
    background-color: #000;
    margin-left: -35px;
    margin-right: -35px;
    z-index: 2;
}

.key-black.active{
    background-color: #333;
}